@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Montserrat;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-lexend);
  font-weight: 600;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .container {
    @apply max-w-[90vw] xl:max-w-[85vw] 2xl:max-w-[75vw] mx-auto;
  }
  .btn-prim {
    @apply bg-secondary hover:bg-terenary text-primary_dark md:text-lg cursor-pointer transition;
  }
  .btn-sec {
    @apply bg-primary hover:bg-primary_dark text-secondary md:text-lg cursor-pointer transition;
  }
}
